OPENCLOUD_PUBLIC_DOMAIN=://phanee.in
ADMIN_PASSWORD=your_highly_secure_initial_admin_password
DB_USER=opencloud_user
DB_PASS=opencloud_pass
ONLYOFFICE_JWT_SECRET=generate_a_random_long_alphanumeric_string_here