VAULTWARDEN_DOMAIN=vaultwarden.yourdomain.com
VAULTWARDEN_ADMIN_TOKEN=change-me
# initially allow signups, but you should change this later in the admin panel
VAULTWARDEN_SIGNUPS_ALLOWED=true
VAULTWARDEN_INVITATIONS_ALLOWED=false
VAULTWARDEN_DATABASE_URL=postgresql://vaultwarden:your_super_secure_db_password_here@shared-postgres:5432/vaultwarden
