VAULTWARDEN_DOMAIN=vaultwarden.yourdomain.com
VAULTWARDEN_ADMIN_TOKEN=change-me
# initially allow signups, but you should change this later in the admin panel
VAULTWARDEN_SIGNUPS_ALLOWED=true
VAULTWARDEN_INVITATIONS_ALLOWED=false
VAULTWARDEN_DB_HOST=shared-postgres
VAULTWARDEN_DB_PORT=5432
VAULTWARDEN_DB_NAME=vaultwarden
VAULTWARDEN_DB_USER=vaultwarden
VAULTWARDEN_DB_PASSWORD=change-me
