# This is an example .env file for the shared Postgres service. Copy this file to .env and update the values as needed.
# Postgres username and password for the default database. Change these values to secure your database.
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

# Postgres username and password for the shared databases. All databases will be created with the same password. Change these values to secure your databases.
DB_PASSWORD=change-me
MULTIPLE_DATABASES=paperless,opencloud,affine
