# Paths (adjust to your host storage)
DOCKER_USER_DATA=/home/homelab
DOCKER_VOLUME_STORAGE=/mnt/shared-storage

RUSTFS_ROOT_USER=admin
RUSTFS_ROOT_PASSWORD="super secure password"
RUSTFS_DOMAIN="rustfs.phanee.in"

OBSIDIAN_DOMAIN="obsidian.phanee.in"
